X402_FACILITATOR_URL=http://127.0.0.1:9
CDP_API_KEY_ID=ci-test-key
CDP_PRIVATE_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=

X402_PAYER_PRIVATE_KEY=0x59c6995e998f97a5a0044966f0945389dc9e86dae190e6dd09690e7b23ff9d12
X402_NETWORK=eip155:84532
X402_ASSET_ADDRESS=0x036cbd53842c5426634e7929541ec2318f3dcf7e
X402_TOKEN_NAME=USDC
X402_TOKEN_VERSION=2
X402_AMOUNT_DECIMALS=6

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=x402_scheduler_db
POSTGRES_SSLMODE=disable

MAX_RESULT_PAYLOAD_BYTES=10485760

WORKER_JWT_SECRET=ci-worker-jwt-secret
WORKER_JWT_TTL_SECONDS=43200
WORKER_AUTH_CHALLENGE_TTL_SECONDS=300
WORKER_AUTH_DISABLED=0

PAYMENTS_PROCESS_INTERVAL_SECONDS=0

ADMIN_API_TOKEN=ci-admin-token
