X402_FACILITATOR_URL=https://api.cdp.coinbase.com/platform/v2/x402

CDP_API_KEY_ID=
CDP_PRIVATE_KEY=

X402_PAYER_PRIVATE_KEY=
X402_NETWORK=eip155:84532
X402_ASSET_ADDRESS=0x036cbd53842c5426634e7929541ec2318f3dcf7e
X402_TOKEN_NAME=USDC
X402_TOKEN_VERSION=2
X402_AMOUNT_DECIMALS=6
